---
import Section from '@/components/Section'

interface Props {
  lang?: string
}

const { lang = 'ko' } = Astro.props

const textKo = [
  ['안녕하세요! 신의하입니다.'],
  ['항상 프로그래밍을 좋아했고,', '그래서 프로그래머가 되었습니다.'],
  ['웹을 좋아하며, 특히 프론트엔드', '분야에 관심이 많습니다.'],
  ['새로운 것들을 찾아보고, 공부하고,', '시도해보는 것을 즐깁니다.'],
]
const textEn = [
  ['Hello! I am Iha Shin.'],
  ['I always have loved to code,', 'so I became a software engineer.'],
  ['I enjoy to work on the Web,', 'especially in the frontend area.'],
  ['I am always looking for new things to', 'learn, study, and try.'],
]

const text = lang === 'ko' ? textKo : textEn
---

<Section id="about" title="About me" client:idle>
  <div class="py-4 text-xl leading-[1.8]">
    {text.map(segments => (
      <p>
        {segments.map(seg => (
          <>
            <span class="whitespace-nowrap">{seg}</span>{' '}
          </>
        ))}
      </p>
    ))}
  </div>
</Section>

<style>
  section#about astro-slot {
    height: 100%;
  }
</style>
