---
import Layout from '@/components/Layout.astro'
import About from '@/components/sections/About.astro'
import Techs from '@/components/sections/techs/Techs.astro'
import Experiences from '@/components/sections/experiences/Experiences.astro'
import Contact from '@/components/sections/Contact.astro'
---

<Layout lang="en">
  <p
    class="my-4 px-10 py-4 rounded-xl bg-gray-200 text-xl text-#333 w-full text-center hidden print:block"
  >
    The most recent contents and richer experiences are available on the website.<br />
    <a href="https://xiniha.dev">https://xiniha.dev</a>
  </p>
  <About lang="en" />
  <Techs lang="en" />
  <Experiences lang="en" />
  <Contact />
</Layout>

