---
import Sidebar from '@/components/Sidebar.astro'
import '@unocss/reset/tailwind.css'
import '@/global.css'

interface Props {
  lang?: string
}

const { lang = 'ko' } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XiNiHa's Website</title>
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-8CRDZ1XSEN"
    ></script>
    <script>
      declare global {
        interface Window {
          dataLayer: unknown[]
        }
      }

      window.dataLayer = window.dataLayer || []
      function gtag(...args: unknown[]) {
        window.dataLayer.push(args)
      }
      gtag('js', new Date())
      gtag('config', 'G-8CRDZ1XSEN')
    </script>
  </head>
  <body class="print:p-4">
    <div
      class="mx-auto container flex justify-center min-h-full lt-xl:(flex-col-reverse px-6)"
    >
      <main class="flex-1">
        <slot />
      </main>
      <div class="w-1/4 min-w-fit py-28 lt-xl:mx-auto print:py-10">
        <Sidebar lang={lang} />
      </div>
    </div>
  </body>
</html>
