---
import Sidebar from '@/components/Sidebar.astro'
import '@unocss/reset/tailwind.css'
import '@/global.css'
---

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XiNiHa's Website</title>
  </head>
  <body>
    <div class="mx-auto container flex justify-center min-h-full lt-xl:(flex-col-reverse px-6)">
      <main class="flex-1">
        <slot />
      </main>
      <div class="w-1/4 min-w-fit py-28 lt-xl:mx-auto">
        <Sidebar />
      </div>
    </div>
  </body>
</html>
