---
import Location from '@/components/Location'

const links = {
  '#about': 'About me',
  '#techs': 'Techs I use & love',
  '#experiences': 'Experiences',
  '#contact': 'Contact',
}
---

<nav class="pl-4 border-l border-l-gray-400">
  <ul>
    {Object.entries(links).map(([href, text]) => (
      <li>
        <Location hash={href} client:visible>
          <a
            href={href}
            class="ml-6 w-fit text-2xl leading-[1.6] border-b border-b-transparent transition-all duration-500 hover:(border-b-gray-700)"
          >
            {text}
          </a>
        </Location>
      </li>
    ))}
    <li class="mt-4 mb-2">
      <a
        href="https://github.com/XiNiHa/website"
        class="ml-6 inline-block text-gray-500 hover:underline"
        target="_blank"
        rel="noopener noreferrer"
      >
        코드 확인하기
        <div class="inline-block i-bi-github" />
      </a>
    </li>
    <li class="my-2 print:hidden">
      <a
        href="/신의하_이력서.pdf"
        class="ml-6 inline-block text-gray-500 hover:underline"
        target="_blank"
        rel="noopener noreferrer"
      >
        PDF 버전 보기
        <div class="inline-block i-bi-file-earmark-pdf" />
      </a>
    </li>
  </ul>
</nav>
