---
import Nav from '@/components/Nav.astro'

interface Props {
  lang?: string
}

const { lang = 'ko' } = Astro.props
---

<div class="sticky top-10 w-fit">
  <div class="pl-9 pb-3">
    <h1 class="text-3xl font-semibold">신의하 / Iha Shin</h1>
  </div>
  <Nav lang={lang} />
</div>
