---
import { type CollectionEntry, getCollection } from 'astro:content'
import Section from '@/components/Section'
import Subsection from './Subsection.astro'
import Item from './Item'
import OpenSourceContributions from './OpenSourceContributions.astro'

interface Props {
  lang?: string
}

const { lang = 'ko' } = Astro.props

const allExperiences = await getCollection('experiences')
const matchingExperiences = allExperiences.filter(e =>
  e.filePath?.includes(`/${lang}/`),
)
const {
  workExperiences = [],
  workSubprojects = [],
  education = [],
} = Object.groupBy(matchingExperiences, e =>
  e.filePath?.includes('/Work Experiences/subprojects/')
    ? 'workSubprojects'
    : e.filePath?.includes('/Work Experiences/')
      ? 'workExperiences'
      : 'education',
)

const workSubprojectsMap = new Map<string, CollectionEntry<'experiences'>>(
  workSubprojects
    .map(e => {
      const id = e.filePath?.split('/').at(-1)?.replace('.md', '')
      return id ? ([id, e] as const) : null
    })
    .filter(v => v != null),
)

workExperiences.sort((a, b) => a.data.order - b.data.order)
workSubprojects.sort((a, b) => a.data.order - b.data.order)
education.sort((a, b) => a.data.order - b.data.order)
---

<Section
  id="experiences"
  title="Experiences"
  class="min-h-120vh print:break-before-page"
  client:idle
>
  <div class="py-6">
    <p
      class="my-4 px-6 py-4 rounded-xl bg-gray-200 text-xl text-#333 w-fit print:hidden"
    >
      {
        lang === 'ko'
          ? '각 항목을 클릭하면 상세 내용이 표시됩니다.'
          : 'Additional information is displayed when you click on each item.'
      }
    </p>
    <Subsection title="Work Experiences" first>
      {
        workExperiences.map(entry => (
          <Item
            client:visible
            experience={entry}
            subprojectMap={new Map(workSubprojectsMap.entries())}
          />
        ))
      }
    </Subsection>
    <Subsection title="Open Source Contributions">
      <OpenSourceContributions />
    </Subsection>
    <Subsection title="Education">
      {education.map(entry => <Item client:visible experience={entry} />)}
    </Subsection>
  </div>
</Section>
